.wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 25vh 7vw;
  position: relative;
  @media screen and (max-width: 600px) {
    padding: 10vh 7vw;
  }
}

.header {
  font-size: 1.1rem;
  font-weight: 300;
  display: inline-block;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--primaryBlue);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
    color: var(--primaryBlue);
    font-weight: 600;
  }
}

.number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 3.5vh;
  margin-top: 2.5vh;
  margin-right: 4.2vw;
  cursor: pointer;
}

.notSelected {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgba(248, 244, 244, 0.5);
}

.selected {
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 600;
}

.desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 6vw;
  gap: 10px;
  span:nth-child(2) {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2vh;
  }
  span:nth-child(3) {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 6vh;
    max-width: 32vw;
  }
}

.footer {
  font-size: 1.1rem;
  font-weight: 600;
  background-position-y: 30%;
  background-image: linear-gradient(transparent 50%, var(--primaryBlue) 50%);
  transition: background 500ms ease;
  background-size: 2px;
  background-size: auto 175%;
  display: inline-block;
  margin: 0 0.2em;
  transition: all linear 150ms;
  &:hover {
    background-position-y: 100%;
    cursor: pointer;
  }
}

.image {
  @media screen and (max-width: 600px) {
    display: none;
  }
}
