html,
body {
  padding: 0;
  margin: 0;
  font-family: "Manrope";
  cursor: url(../../public/images/cursor.png), auto;
  background: black;
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
