.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6.7vh 8.3vw 2vh 8.3vw;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 50px;
  > li > a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--whiteWithOpacity);
    cursor: pointer;
    &:hover {
      color: var(--white);
      font-weight: 600;
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.button {
  background-color: var(--primaryBlue);
  padding: 12px 24px;
  border-radius: 4px;
  > a > span {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
