.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 6.7vh 8.3vw 2vh 8.3vw;
  gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: black;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 50px;
  > li > a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--whiteWithOpacity);
    cursor: pointer;
    display: inline-block;
    position: relative;
    &:hover {
      color: var(--white);
      font-weight: 600;
    }
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      transform: scaleX(0);
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--white);
      transform-origin: bottom right;
      transition: transform 0.25s ease-out;
    }
    &:hover:after {
      transform: scaleX(1);
      transform-origin: bottom left;
      color: var(--white);
      font-weight: 600;
    }
  }
  @media screen and (max-width: 600px) {
    display: none;
  }
}

.button {
  background-color: var(--primaryBlue);
  padding: 12px 24px;
  border-radius: 4px;
  > a > span {
    font-size: 0.8rem;
    font-weight: 500;
  }
}
